@import url('https://fonts.googleapis.com/css2?family=Champ:wght@400;700&family=Inter:wght@400;700&display=swap');

#fapi-showUserForm {
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    color: #000;
}

.fapi-form-container {
    border: 1px solid #FFF200;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    padding: 20px;
    background: #FFF200;
    border-radius: 8px;
}

.fapi-form-container-first {
    margin-top: 0px;
}

.fapi-form-error {
    color: #000;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    border-radius: 5px;
    padding: 15px;
    margin: 30px 0;
    font-size: 15px;
}

#fapi-showUserForm table {
    margin: 10px auto;
    border: 0px;
    table-layout: auto;
}

.fapi-form-container-title {
    background: #000;
    padding: 0.5em 10px;
    color: #FFF200;
    font-family: 'Champ', sans-serif;
}

#fapi-showUserForm td, #fapi-showUserForm th {
    border: 0;
    padding: 10px;
    color: #000;
    font-family: 'Inter', sans-serif;
}

#fapi-showUserForm th {
    text-align: right;
}

.fapi-form-personal-information th {
    text-align: right;
}

#fapi-showUserForm td.fapi-form-container-description {
    padding-top: 0px;
    font-size: 13px;
}

#fapi-showUserForm input[type=text], #fapi-showUserForm input[type=email], #fapi-showUserForm input[type=number] {
    display: inline;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    font-family: 'Inter', sans-serif;
    background-color: #FFF200;
}

#fapi-showUserForm input[type=number].number, #fapi-showUserForm input[type=text].number {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    text-align: right;
}

.fapi-payment-image {
    max-height: 30px;
    max-width: 100px;
    vertical-align: text-bottom;
}

.fapi-payment-image-wrapper {
    margin-left: 10px;
    display: inline-block;
}

.fapi-payment-image-wrapper img {
    margin: 0;
    padding: 0;
}

#fapi-showUserForm input[name=shippingAddressBox] {
    margin-left: 7px;
}

#fapi-showUserForm input[type=checkbox] {
    margin-right: 6px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

#fapi-showUserForm input[type=radio] {
    margin-right: 6px;
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

#fapi-showUserForm label, #fapi-showUserForm span.fapi-form-label {
    display: inline;
    font-size: 14px;
    margin-right: 2px;
    text-transform: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.fapi-form-sold-out {
    text-decoration: line-through;
    color: #888;
}

.fapi-form-sold-out-legend {
    margin-left: 5px;
    font-variant: small-caps;
}

.fapi-form-discount-code-message {
    display: inline;
    font-size: 14px;
    margin-right: 2px;
    text-transform: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#fapi-showUserForm select {
    display: inline;
    border-radius: 5px;
    background: #FFF200;
    border: 1px solid #000;
    height: 35px;
    margin-top: 1px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#fapi-showUserForm textarea {
    display: inline;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF200;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#ship, #bank {
    display: none;
}

#fapi-form-footer {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #b8b7b7;
}

#fapi-form-footer a {
    color: #b8b7b7;
}

.fapi-form-only-czk, .fapi-form-only-eur {
    display: none;
}

.fapi-form-total {
    display: none;
}

.fapi-form-total table {
    font-size: 14px;
}

.fapi-form-total th {
    font-weight: bold;
}

.fapi-form-warn {
    border: 1px solid #e9c1c1;
    border-radius: 6px;
    padding: 10px;
    background: #fde9e9;
    color: #bc251b;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
}

#fapi-showUserForm .fapi-form-loading {
    background: url("../images/ajax_loader.gif") no-repeat bottom;
    padding-bottom: 32px;
}

#fapi-showUserForm label span.description {
    display: block;
    font-weight: normal;
    color: #666;
    padding-left: 22px;
    padding-top: 5px;
    line-height: 1em;
}

#fapi-showUserForm input[type=submit] {
    width: auto;
    font-size: 20px;
    padding: 0.5em;
    margin: 20px auto;
    border: 1px solid #000;
    display: block;
    background: #FFF200;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
}

#fapi-showUserForm input[type=submit]:hover {
    opacity: 0.85;
}

.fapi-form-payment-method-option {
    padding-top: 0;
    margin-bottom: 15px;
}

.fapi-form-payment-method-option.fapi-form-first {
    margin-top: 0;
}

.fapi-form-payment-method-option label {
    display: block;
}

.fapi-form-payment-method-option .payment-method-name {
    font-weight: normal;
}

.fapi-form-payment-method-option .fapi-form-icons {
    display: block;
    margin-top: 2px;
    padding-left: 22px;
}

.fapi-text-success {
    color: #5bb75b;
}

.fapi-text-danger {
    color: #bd362f;
}

.fapi-form-discount-code input[type=text] {
    width: 50%;
}

#fapi-state {
    color: #555;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

.fapi-form-discount-code input[type=button] {
    display: inline;
    margin-left: 10px;
    padding: 3px 12px;
    height: 35px;
    color: #000;
    background-color: #FFF200;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    line-height: 1em;
    text-transform: none;
    font-weight: normal;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.fapi-form-discount-code input[type=button]:hover {
    border: 1px solid #aaa;
}

.fapi-terms {
    font-size: 14px;
    font-weight: normal;
}

.fapi-form-purpose {
    font-size: 14px;
    font-weight: normal;
}

.pay-method-header {
    margin-left: 0px;
    font-size: 14px;
    text-transform: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 3px;
}

.tooltip-fapi {
    margin-left: 10px;
}
