@import url('https://fonts.googleapis.com/css2?family=Champ:wght@400;700&family=Inter:wght@400;700&display=swap');

#frm-showUserForm {
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #000;
}

#frm-showUserForm .form_container {
    width: 100%;
    border: 1px solid #FFF200;
    padding: 20px;
    background: #FFF200;
    border-radius: 8px;
}

#frm-showUserForm table {
    width: 90%;
}

#frm-showUserForm tbody {
    display: table-row-group;
}

#frm-showUserForm tr {
    display: table-row;
}

#frm-showUserForm th {
    display: table-cell;
    width: 15%;
}

#frm-showUserForm td {
    display: table-cell;
    width: 85%;
    padding: 7px 4px;
}

#frm-showUserForm td.fapi-form-full-width {
    padding-left: 15%;
}

#frm-showUserForm input[type=text], #frm-showUserForm textarea, #frm-showUserForm select, #frm-showUserForm input[type=email] {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFF200;
}

#frm-showUserForm select[name=currency] {
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFF200;
}

#frm-showUserForm select[name=period] {
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFF200;
}

#frm-showUserForm .fapi-form-total th {
    width: 50%;
    max-width: 330px;
    padding: 3px 2px;
    text-align: right;
}

#frm-showUserForm .fapi-form-total td {
    padding: 3px 2px;
}

#frm-showUserForm .fapi-form-payment-method-option .fapi-form-icons {
    padding-top: 5px;
    padding-left: 5px;
}

#frm-showUserForm label span.description {
    padding-left: 5px;
}

#frm-showUserForm #ship {
    display: none;
}